name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    uses: mu88/github-actions/.github/workflows/ci-cd.yml@9e69b372885aa30566ebf1dbfa0611e4b66294e9
    with:
      docker-publish-mode: regular_and_chiseled
      docker-publish-project: ShopAndEat/ShopAndEat.csproj
      requires-docker-login: true
      sonar-key: mu88_ShopAndEat
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
