name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/github-actions/.github/workflows/ci-cd.yml@6bb14d0428677b74d3566fe980364a33a6136136
    with:
      docker-attest-provenance-and-sbom: false
      docker-publish-mode: regular_and_chiseled
      docker-publish-project: ShopAndEat/ShopAndEat.csproj
      requires-docker-login: true
      sonar-key: mu88_ShopAndEat
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
