name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    uses: mu88/common/.github/workflows/ci-cd.yml@ac2c9c79dd164acc95597d7cffaa214c214359e0
    with:
      docker-attest-provenance-and-sbom: true
      docker-publish-project: ShopAndEat/ShopAndEat.csproj
      requires-docker-login: true
      sonar-key: mu88_ShopAndEat
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
